@import url(variables.css);

body{
    background: var(--color--3);
    padding: 50px;
}

header{
    display: flex;
    justify-content: space-between;
    
}

.Foods h3{
    color:var(--color--1);
    font-size: 4rem;
}

.menu{
    display: flex;
    color: var( --color--2);
    gap: 30px;
    font-size: 1.5rem;
}

.menu p{
    font-family: "Poppins";
}

/* .menu:hover{
    display: flex;
    color: white;
    gap: 15px;
    border-color:rgb(70, 173, 125) ;
    
} */

.Full{
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
    /* background:lightblue; */
}

.Full h1{
    color:var(--color--1) ;
    font-size: 4rem;
    font-family:"Poppins" ;
    margin-bottom: -10px;
}

.Full p{
    color: var( --color--2);
    font-size: 1.5rem;
}

button{
    background: var(--color--1);
    color:var( --color--2);
    border-color: var(--color--3);
    width: 110px;
    height: 3vh;
    font-family:"Poppins" ;
}

.site1{
    display: flex;
    flex-direction: column;
    margin-top: 110px;
    
}

.site2 img{
    width: 600px;
    height: 50vh;
}

.about {
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}
.one img{

}
.two h4{
    font-size: 1.5rem;
    color:var(--color--1);
}

.two h2{
    color:var( --color--2);
    font-size: 3rem;
}

.two p{
    color: var( --color--2);
    font-size: 1.5rem;
}

button{
    background: var(--color--1);
    color: var( --color--2);
    font-family: "Poppins";
    border-color: var(--color--3);
    width: 120px;
    height: 3vh;
}

.third {
    /* background: lightcoral; */
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
 

}
.text {
    display: flex;
    flex-direction: column;
    text-align: center;
   
}

.text h4{
    color: var(--color--1);
    margin-bottom: -15px;
    font-size: 1.5rem;
}

.text h2{
    color: var( --color--2);
    font-size: 3.5rem;
}
.train {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}
.contain {
    width: 350px;
    background: var( --color--4);
    flex-direction: column;
    padding: 30px;
    border-style: dotted;
    justify-content: c;
}

.contain h4{
    text-align: center;
    font-size: 1.3rem;
}

.contain h5{
    text-align: center;
    font-size: 1rem;
}

.contain p{
    color: var(--color--1);
    text-align: center;
}

.contain img{
    width: 150px;
    margin-left: 30%;
    
}



.services {
    /* background: lightcoral; */
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
 

}
.title {
    display: flex;
    flex-direction: column;
    text-align: center;
   
}

.title h4{
    color: var(--color--1);
    margin-bottom: -15px;
    font-size: 1.5rem;
}

.title h1{
    color: var( --color--2);
    font-size: 3.5rem;
}
.other {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}
.content{
    width: 350px;
    flex-direction: column;
    padding: 30px;


}

.content h4{
    text-align: center;
    font-size: 1.3rem;
    color: var(--color--1);
}


.content p{
    color: var(--color--2);
    text-align: center;
}

.content img{
    width: 150px;
    margin-left: 30%;
    
}

.make{
    width: 80%;
    height: 30vh;
    background: var(--color--4);
    margin-left: 10%;
    text-align: center;
    border-style: dotted;

}

.make h1{
    font-size: 3rem;
    font-family: "poppins";
}
button{
    width: 180px;
    height: 3.5vh;
    border-color: var(--color--4);
}


.box {
    display: flex;
    justify-content: space-around;
}

.box1 h4{
    color: var(--color--1);
}

.box2 h4{
    color: var(--color--1);
}

.box3 h4{
    color: var(--color--1);
}

.box4 h4{
    color: var(--color--1);
}

.box1 p{
    color: var(--color--2);
}

.box2 p{
    color: var(--color--2);
}

.box3 p{
    color: var(--color--2);
}

.box4 p{
    color: var(--color--2);
}



